body{
    font-family: Arial, sans-serif;
    margin:0;
}

header{
    background:black;
    color:white;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}

main{
    padding:20px;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:10px;
}